/* Desktop style */
* {
    margin: 0;
    padding: 0;
}
.main-menu {
    text-decoration: none;
    text-align: center;
}
.top-section {
    margin-top: 25px;
    margin-bottom: 25px;
}
.content-title {
    text-align: center;
}
.menu-list {
    display: flex;
    justify-content: center;
}
.menu-item {
    margin-top: 15px;
    margin-right: 5px;
    text-decoration: none;
}
.image-cover {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Mobile style */